<div class="menuBar-container">

  <div class="menuBar-logo">
    <img src="../../../assets/images/logo-roxa.svg" alt="Logo Swap-Play">
  </div>

  <div class="menuBar-itensContainer">

    <div class="menuBar-itensTop">

      <div class="itensTop-links">
        <fa-icon [icon]="instagram"></fa-icon>
        <fa-icon [icon]="twitter"></fa-icon>
        <fa-icon [icon]="linkedin"></fa-icon>
        <fa-icon [icon]="facebook"></fa-icon>
      </div>

      <div class="itensTop-lista">
        <ul>
          <li> <fa-icon [icon]="info"></fa-icon> Sobre Nós</li>
          <li> <fa-icon [icon]="chat"></fa-icon> Chat</li>
          <li> <fa-icon [icon]="notification"></fa-icon> Notificações</li>
          <li> <fa-icon [icon]="home"></fa-icon> Página inicial</li>
        </ul>
      </div>

    </div>

    <div class="menuBar-itensBottom">

    </div>
  </div>

</div>
